<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Maximum Futility: Metro Areas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function() {
            $('#city-table').DataTable({paging: false});
        });
    </script>
    <style>
        body {
          margin: 0;
          background-color: navy;
        }
        .main-container {
          background-color: white;
          padding: 20px;
        }
        .margin-container {
          background-color: navy;
          padding: 20px;
          height: 100%;
        }
        select.custom-select {
            border: 1px solid #aaa;
            border-radius: 3px;
            padding: 4px;
        }
    </style>
</head>
<body>
<div class="container-fluid margin-container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 main-container">
            <h1>Maximum Futility</h1>
            <h2 th:text="${season.name}"></h2>
            <a th:href="'/season?id=' + ${nextSeason}">Next</a>

            <div th:if="${season.warnings.size > 0}" class="alert alert-warning">
                <ul th:each="warning: ${season.warnings}">
                    <li th:text="${warning.message}"></li>
                </ul>
            </div>

            <div name="info-box">
                League: <span th:text="${season.leagueName}"></span><br/>
                Number of conferences: <span th:text="${season.totalConferences}"></span><br/>
                Number of divisions: <span th:text="${season.totalDivisions}"></span><br/>
                Conference names: <span th:text="${season.conferenceNames}"></span><br/>
                Division names: <span th:text="${season.divisionNames}"></span><br/>
                <hr>
                <div name="postseason-results-box">
                    <b>Qualified for playoffs:</b> <span th:text="${season.appearedInPostseason}"></span><br/>
                    <b>Advanced in playoffs:</b> <span th:text="${season.advancedInPostseason}"></span><br/>
                    <b>Appeared in championship:</b> <span th:text="${season.appearedInChampionship}"></span><br/>
                    <b>Won championship:</b> <span th:text="${season.champions}"></span><br/>
                </div>
                <hr>
                <div name="results-box">
                    <div th:each="result: ${season.results}">
                        <b th:text="${result.title}"></b><br/>
                        Best: <span th:text="${result.teams}"></span><br/>
                        Worst: <span th:text="${result.worstTeams}"></span><br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>